@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    backdrop-filter: blur(70px);    
}

.navbar .logo img {
    width: 191px;
    height: 70px;
}

.menus .menu {
    display: flex;
}

.menus .menu .list-menu {
    list-style: none;    
}

.menus .menu .list-menu a {        
    text-decoration: none;
    color: #727272;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 10px 0px 10px;    
}

.btn-contact {
    color: #FFF;
    background-color: #F2CA44;
    width: 136px;
    height: 48px;
    border: none;
    border-radius: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

#Main {

}

#Main .title {
    margin: 182px 0px 0px 0px;
    color: #000;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;    
}

#Main .title span {
    color: #F2CA44;
}

#Main .sub-title {
    color: #5C5C5C;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
}
#Main img {
    width: 548px;
    height: 583px;
    margin: 75px 0px 130px 0px;
}

/* SectionMain End */

/* Section Menu */
#Menu {
    background-color: #F6F6F6;
}

#Menu .title{
    margin: 72px 0px 0px 0px;
    text-align: center;
    color: #8D8D8D;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

#Menu .sub-title {
    text-align: center;
    color: #000;
    font-size: 58px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    line-height: 63px;
    margin-bottom: 28px;
}

#Menu .sub-title span {
    color: #F2CA44;
}

#Menu .card {
    width: 304px;
    height: 311px;
    border: none;
    border-radius: 16px;  
    padding: 42px 30px 42px 35px;  
    margin: 0px 0px 67px 0px;
}

#Menu .card .desc-title .title {
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    color: #000;
    text-align: start;
    margin: 24px 0px 7px 0px;
}

#Menu .card .desc-title .sub-title {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color: #828282;
    text-align: start;
    line-height: 20px;
}
/* Section Menu End */

#Layanan {
    background-color: #F2CA44;
}

#Layanan .title {
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin: 68px 0px 0px 0px;
}

#Layanan .sub-title {
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

#Layanan .card {
    width: 415px;
    height: 523px;
    border: none;
    border-radius: 21px;    
}

#Layanan .card .desc-title {
    margin: -30px 40px 0px 23px;
}

#Layanan .card .desc-title .title {
    font-size: 33px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #000;
    text-align: start;    
}

#Layanan .card .desc-title .sub-title {
    color: #504F4F;
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    text-align: start;
}

